{{ define "main" }}
{{- $dateFormat := site.Params.scanlines.dateFormat | default "2006-01-02" -}}
{{- $showReadingTime := ne site.Params.scanlines.showReadingTime false -}}
<div class="container">
  <div class="content-wrapper">
    <header class="list-header">
      <h1 class="list-title">POSTS</h1>
      {{- if .Pages }}
      <p class="list-count">[ {{ len .Pages }} {{ if eq (len .Pages) 1 }}post{{ else }}posts{{ end }} ]</p>
      {{- end }}
    </header>

    {{- if .Pages }}
    <ul class="post-list">
      {{- range .Pages.ByDate.Reverse }}
      <li class="post-list-item">
        <article>
          <h2 class="post-list-title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h2>
          <div class="post-list-meta">
            <time class="post-list-date" datetime="{{ .Date.Format "2006-01-02" }}">
              {{ .Date.Format $dateFormat }}
            </time>
            {{- if $showReadingTime }}
            <span class="post-list-reading-time">{{ partial "reading-time.html" (dict "page" . "short" true) }}</span>
            {{- end }}
          </div>
          {{- with .Params.summary }}
          <p class="post-list-excerpt">{{ . }}</p>
          {{- else }}
          {{- with .Description }}
          <p class="post-list-excerpt">{{ . }}</p>
          {{- else }}
          {{- with .Summary }}
          <p class="post-list-excerpt">{{ . | plainify | truncate 200 }}</p>
          {{- end }}
          {{- end }}
          {{- end }}
        </article>
      </li>
      {{- end }}
    </ul>

    {{- /* Pagination */ -}}
    {{- template "_internal/pagination.html" . }}
    {{- else }}
    <p class="no-posts">No posts yet. Start writing!</p>
    {{- end }}
  </div>
</div>
{{ end }}
