{{- $page := .Page | default . -}}
{{- $toc := site.Params.scanlines.toc -}}
{{- if and (ne $toc.enabled false) $page.TableOfContents (gt (len ($page.TableOfContents | plainify)) 0) -}}
  {{- $title := $toc.title | default "CONTENTS" -}}
  {{- $collapsible := ne $toc.collapsible false -}}
  {{- $id := printf "toc-%s" (anchorize $page.RelPermalink) -}}

  {{- if $collapsible }}
  <div class="toc toc-collapsible" aria-label="Table of contents">
    <input type="checkbox" id="{{ $id }}" class="toc-checkbox" aria-hidden="true">
    <label for="{{ $id }}" class="toc-toggle" role="button">
      <span class="toc-title">{{ $title }}</span>
      <span class="toc-icon">[+]</span>
    </label>
    <nav class="toc-nav">
      {{ $page.TableOfContents }}
    </nav>
  </div>
  {{- else }}
  <aside class="toc" aria-label="Table of contents">
    <h2 class="toc-title">{{ $title }}</h2>
    <nav class="toc-nav">
      {{ $page.TableOfContents }}
    </nav>
  </aside>
  {{- end }}

{{- end -}}
